{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>비밀번호 재설정</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			{% if mode == "set" %}
				{% with form = Forms.auth.ResetPasswordForm() %}
				<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
					<div class="row">
						<div class="col-md-12">
							<p>이제 계정의 비밀번호를 재설정하고 로그인 할 수 있습니다. 아래에 새 비밀번호를 입력하세요.</p>
						</div>
					</div>
					<div class="form-group">
						{{ form.password.label }}
						{{ form.password(class="form-control") }}
					</div>
					<div class="row">
						<div class="col-md-6 offset-md-6">
							{{ form.submit(class="btn btn-md btn-primary float-right") }}
						</div>
					</div>
					{{ form.nonce() }}
				</form>
				{% endwith %}
			{% else %}
				{% with form = Forms.auth.ResetPasswordRequestForm() %}
				<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
					<div class="row">
						<div class="col-md-12">
							<p>계정과 연결된 이메일 주소를 입력하세요.</p>
						</div>
					</div>
					<div class="form-group">
						{{ form.email.label }}
						{{ form.email(class="form-control") }}
					</div>
					<div class="row">
						<div class="col-md-6 offset-md-6">
							{{ form.submit(class="btn btn-md btn-primary float-right") }}
						</div>
					</div>
					{{ form.nonce() }}
				</form>
				{% endwith %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
